*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.main_container{
	height:100vh;
	margin:0 auto;
	padding:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}
.bg-img{
	background-image:url(../image/background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	filter:blur(5px);	`
}

.card_container{
    width: 283px;
    background-color: bisque;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
	margin:15px auto;
	position:absolute;
	/* z-index:1; */
}
.image_section{
	overflow:hidden;
}
.image_section img{
	width:250px;
}
.heading_section{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px;
	color:blue;
	border-color:black;	
}
.paragraph_section{
	margin-top:10px;
	margin-bottom:10px;
}
.button_section{
	padding: 10px 0px;
}
.btn-primary{
	text-decoration: none;
    color: white;
    border: 1px solid blue;
    padding: 8px 24px;
    margin-top: 10px;
    background-color: blue;
    font-weight: bolder;
	
}
